:root {
    --col-primary: rgb(226, 199, 156);
    --col-secondary: rgb(42, 42, 42);
    --background-pri: rgba(235, 149, 12, 0.233);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: whitesmoke !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
    color: var(col-primary) !important;
}

.card-header {
    background-color: var(--background-primary) !important;
}

.card-body {
    background-color: var(--background-pri) !important;
}